<div id="footer-content">
<ul>
  <li>
    <a href="http://unb.br" target="_blank" id="unb"><span>Universidade de Brasília</span></a>
  </li>
  <li id="internal-link">
    <strong class="footer-division-title">Portal UnB Gama</strong>
    <ul class="footer-list">
      <li><%= link_to 'Sobre',  "/unb-gama/sobre" %></li>
      <li><%= link_to 'Graduação',  "/unb-gama/graduacao" %></li>
      <li><%= link_to 'Pós-Graduação',  "/unb-gama/pos-graduacao" %></li>
      <li><%= link_to 'Termos de Uso', "/site/terms" %></li>
      <li><%= link_to 'Contato',  "/unb-gama/contato" %></li>
    </ul>
  </li>
  <li id="social-media">
   <div>
      <strong class="footer-division-title">Redes Sociais</strong>
      <ul class="social-network">
        <li>
          <a target="_blank" title="Facebook FGA" alt="Facebook FGA" href="" style="font-size:2em; color: #3b5997">
            <i class="fa fa-facebook-square"></i>
          </a>
        <a target="_blank" title="Google+ UnB Gama" alt="Google+ UnB Gama" style="font-size:2em; color: #dd4c3f" href="https://plus.google.com/u/0/104490359477931809449">
          <i class="fa fa-google-plus"></i>
        </a>
        <a target="_blank" title="Siga-nos no Twiiter" alt="Siga-nos no Twiiter" style="font-size:2em; color: #4798d7" href="http://www.twitter.com/unbgama">
          <i class="fa fa-twitter-square"></i>
        </a></li>
        <li>
          <a  target="_blank" title="Linkedin UnB Gama" alt="Linkedin UnB Gama" style="font-size:2em; color: #007bb6" href="http://lnkd.in/iYwfA6">
            <i class="fa fa-linkedin-square"></i>
          </a>
        <a title="Assinar RSS UnB Gama" alt="Assinar RSS UnB Gama" style="font-size:2em; color: #fc7f01" href="http://fga.unb.br/unb-gama/noticias/feed">
          <i class="fa fa-rss"></i>
        </a></li>
      </ul>
    </div>
  </li>
  <li>
    <strong class="footer-division-title">Links Úteis</strong>
    <ul>
      <li ><%= link_to 'Portal UnB',  "http://www.unb.br/" %></li>
      <li><%= link_to 'MatrículaWeb',  "https://matriculaweb.unb.br/matriculaweb/" %></li>
      <li><%= link_to 'SAEWeb',  "https://www.saeweb.unb.br/saeWeb/Fronteira/formloginaluno.aspx" %></li>
      <li><%= link_to 'Moodle UnB',  "http://aprender.unb.br/" %></li>
      <li><%= link_to 'Moodle FGA',  "http://gama.ead.unb.br/login/index.php" %></li>
      <li><%= link_to 'UnB Doc',  "https://unbdoc.unb.br/" %></li>
      <li><%= link_to 'Cardápio RU',  "http://www.ru.unb.br/cardapio-ru-unb" %></li>
    </ul>
  </li>
</ul>

<div id='license-on-footer'>
<a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.pt_BR" id="footer-cc"><span>Licença Creative Commons</span></a>
Todo o conteúdo e dados do Portal da UnB Gama estão disponíveis sob a licença <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.pt_BR">Creative Commons Atribuição 3.0 Unported (CC BY 3.0)</a>, exceto quando especificado em contrário e nos conteúdos replicados de outras fontes.
</div>
<%= language_chooser(environment) %>
<p id="powered-by-noosfero">Esta rede social utiliza o software livre Noosfero, licenciado pela GNU Affero General Public License, versão 3 ou superior.</p>
</div><!-- fim id="footer-content" -->

<script type="text/javascript">
jQuery(document).ready(function(){
  // Corrige borda duplicada da ultima notica em destaque
  (function(){
    var busca = jQuery("#highlighted-news .highlighted-news-item");
    var nLast = busca.length-1;

    jQuery(busca[nLast]).css("border-bottom", "none");
  })();

  // Evento da dados do perfil do usuario
  jQuery("#q").ready(function(){
    jQuery("#q").val("Busca no perfil...");
    jQuery("#q").click(function(){
      jQuery(this).val("");
    });
    jQuery("#q").blur(function(){
      if( jQuery("#q").val().length == 0 ) {
        jQuery("#q").val("Busca no perfil...");
      }
    });
  });

  // Oculta painel para usuarios nao autorizados
  (function(){
    var logado = jQuery("#usuario_logado").val();

    if( logado == "Nao" ) jQuery(".my-network-actions").css("display", "none");
  })();
});
</script>

<% if logged_in? %>
<input type="hidden" id="usuario_logado" value="Sim">
<% else %>
<input type="hidden" id="usuario_logado" value="Nao">
<% end %>
</script>

<div id="brazil-bar-goes-here"></div>
