<div id="barra-brasil">
</div>
<div id="top-functions-box">
  <div id="top-functions">
    <ul id="menu-top">

      <li><%= link_to 'Home',  "/" %></li>
      <li><%= link_to 'Sobre',  "/unb-gama/sobre" %></li>
      <li><%= link_to 'Graduação',  "/unb-gama/graduacao" %></li>
      <li><%= link_to 'Pós-Graduação',  "/unb-gama/pos-graduacao" %></li>
      <li><%= link_to 'Professores',  "/professores" %></li>
     <!-- <li><%= link_to 'Informações',  "/unb-gama/informacoes" %></li> -->
      <li><%= link_to 'Contato',  "/unb-gama/contato" %></li>
    </ul>
  </div>
</div>

<div id="down-functions-box">
  <div id="down-functions">
    <ul id="menu-down">
      <li><%= link_to 'Inicial',  "/" %></li>
      <li><%= link_to 'Noticias',  "/institucional" %>
        <ul>
          <li><%= link_to 'Unb Gama',  "/unb-gama/noticias" %></li>
          <li><%= link_to 'UnB Agência',"/unb-gama/unb-agencia" %></li>
          <li><%= link_to 'ECT 2015',"/ect" %></li>
          <li><%= link_to 'Palestra',"/unb-gama/palestras" %></li>
          <li><%= link_to 'Eventos',"/unb-gama/eventos" %></li>
          <li><%= link_to 'Oportunidades',"/unb-gama/oportunidades/" %></li>
        </ul>
      </li>
      <li><%= link_to 'Links Rápidos',  "/institucional/atendimento" %>
        <ul>
          <li><%= link_to 'Portal UnB',  "/servicos-de-negocio" %></li>
          <li><%= link_to 'MatrículaWeb',  "/servicos-de-negocio" %></li>
          <li><%= link_to 'SAEWeb',  "/servicos-de-negocio" %></li>
          <li><%= link_to 'Moodle UnB',  "/servicos-de-negocio" %></li>
          <li><%= link_to 'Moodle FGA',  "/servicos-de-negocio" %></li>
          <li><%= link_to 'TCC FGA',  "/servicos-de-negocio" %></li>
          <li><%= link_to 'SOU FGA',  "/servicos-de-negocio" %></li>
          <li><%= link_to 'Biblioteca FGA',  "/servicos-de-negocio" %></li>
          <li><%= link_to 'UnB Doc',  "/servicos-de-negocio" %></li>
          <li><%= link_to 'Cardápio RU',  "/servicos-de-negocio" %></li>
        </ul>
      </li>
      <li><%= link_to 'Aprenda Mais',  "/processos" %>
        <ul>
          <li><%= link_to 'Intercâmbio',  "/unb-gama/aprenda-mais/intercambio" %></li>
          <li><%= link_to 'Monitoria',  "/unb-gama/aprenda-mais/monitoria" %></li>
          <li><%= link_to 'Iniciação Científica',  "/unb-gama/aprenda-mais/iniciacao-cientifica" %></li>
          <li><%= link_to 'Educação Tutorial',  "/unb-gama/aprenda-mais/programa-de-educacao-tutorial" %></li>
        </ul>
      </li>
      <li><%= link_to 'Engenharias',  "/politicas" %>
        <ul>
          <li><%= link_to 'Aeroespacial',  "/aeroespacial" %></li>
          <li><%= link_to 'Automotiva',  "/automotiva" %></li>
          <li><%= link_to 'Eletrônica',  "/eletronica" %></li>
          <li><%= link_to 'Energia',  "/energia" %></li>
          <li><%= link_to 'Software',  "/software" %></li>
        </ul>
      </li>
      <li><%= link_to 'Laboratórios',  "/licitacoes-e-contratos" %>
        <ul>
          <li><%= link_to 'LAPPIS',  "/lappis" %></li>
          <li><%= link_to 'LART',  "/lart" %></li>
          <li><%= link_to 'LEI',  "/lei" %></li>
          <li><%= link_to 'Fábrica de Software',  "http://fabrica.fga.unb.br" %></li>
        </ul>
      </li>
      <li><%= link_to 'Empresas Juniores',  "/publicacoes" %>
        <ul>
          <li><%= link_to 'InSoft',  "/insoft" %></li>
          <li><%= link_to 'Matriz Energia',  "http://www.matrizenergia.com" %></li>
          <li><%= link_to 'Zenit Aerospace',  "http://zenitaerospace.com" %></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
