<!--<div id="barra-brasil"></div>-->

<a id="portal-logo" href="/"><span>Portal UnB Gama</span></a>

<div id="profile-header-fga">
  <div id="profile-header-actions">
    <% if logged_in? %>
      <div id="profile-menu-dropdown">
        <%= image_tag(profile_icon(current_person, :portrait)) %>
        <span class="fa fa-angle-down"></span>
      </div>
    <% else %>
      <div id="profile-button">
        <a href="#" id="login-button">
          <span class="fa fa-user"></span>Login
        </a>
      </div>
    <% end %>
  </div>

  <div id="profile-div">
    <div class="profile-fields">
      <% if logged_in? %>
        <%= link_to 'Painel de Controle', "/myprofile/#{user.identifier}" %>
        <% if user.is_admin? %>
          <%= link_to 'Administração',  "/admin" %>
        <% end %>
        <%= link_to 'Sair', "/account/logout" %>
      <% else %>
        <form id="header-login" action="/account/login" method="post">
          <input name="user[login]" placeholder="<%=_('email')%>" type="text" style="float: left;">
          <input name="user[password]" placeholder="<%=_('Password')%>" type="password" style="float: right;">
          <div class="profile-buttons">
            <%= submit_button( 'login', _('Log in') )%>
          </div>
        </form>

        <div>
          <input type="checkbox" class="header-remember-me-checkbox">
        </div>

        <div class="header-remember-me"><%= _('Remember me') %></div>

        <span class="header-forgot-password">
          <%= link_to _("Esqueci minha senha"), :controller => 'account', :action => 'forgot_password' %>
        </span>

      <% end %>
    </div>
  </div>
</div>

<% if not logged_in? %>
  <div class="signup-form">
    <%= link_to _("Cadastre-se"), :controller => 'account', :action => 'signup' %>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    $('#profile-header-actions').click(function() {
      $('#profile-div').toggle();
      $('#content').css('z-index', -1);
      $('#profile-div').css('z-index', 100);
      $('.highlights-container').css('z-index', 0);
	});
  });
  jQuery("#top-search").appendTo("#wrap-2");
</script>
