<li>
  <div class="dropdown-arrow list-title">
    <%= link_to 'Institucional',  "#" %>
    <span class="fa fa-angle-down"></span>
  </div>
  <ul id="news" class="navigation-dropdown-list arrow_box">
    <li><%= link_to 'Equipe da FS',"#" %></li>
    <li><%= link_to 'Histórico',"#" %></li>
    <li><%= link_to 'Organograma',"#" %></li>
    <li><%= link_to 'Laboratórios e Núcleos',"#" %></li>
  </ul>
</li>

<li>
  <div class="dropdown-arrow list-title">
    <%= link_to 'Graduação',  "#" %>
    <span class="fa fa-angle-down"></span>
  </div>
  <ul id="pos-graduation" class="navigation-dropdown-list arrow_box">
    <li><%= link_to 'Enfermagem', "#" %></li>
    <li><%= link_to 'Farmácia', "#" %></li>
    <li><%= link_to 'Nutrição', "#" %></li>
    <li><%= link_to 'Odontologia', "#" %></li>
    <li><%= link_to 'Saúde Coletiva', "#" %></li>
  </ul>
</li>
<li>
  <div class="dropdown-arrow list-title">
    <%= link_to 'PPGs',  "#" %>
    <span class="fa fa-angle-down"></span>
  </div>
  <ul id="labs" class="navigation-dropdown-list arrow_box">
    <li><%= link_to 'Bioética',  "#" %></li>
    <li><%= link_to 'Ciências da Saúde',  "#" %></li>
    <li><%= link_to 'Enfermagem',  "/lart" %></li>
    <li><%= link_to 'Ciências Farmacêuticas',  "#" %></li>
    <li><%= link_to 'Nutrição Humana',  "#" %></li>
    <li><%= link_to 'Saúde Coletiva',  "#" %></li>
  </ul>
</li>
<li>
  <div class="dropdown-arrow list-title">
    <%= link_to 'Extensão',  "#" %>
    <span class="fa fa-angle-down"></span>
  </div>
  <ul id="startups" class="navigation-dropdown-list arrow_box">
    <li><%= link_to 'Conceito',  "#" %></li>
    <li><%= link_to 'Membros do Colegiado',  "#" %></li>
    <li><%= link_to 'Calendário', "#" %></li>
    <li><%= link_to 'Perguntas Frequentes', "#" %></li>
  </ul>
</li>
<li>
  <div class="dropdown-arrow list-title">
    <%= link_to 'Centeias',  "#" %>
    <span class="fa fa-angle-down"></span>
  </div>
  <ul id="info" class="navigation-dropdown-list arrow_box">
    <li><%= link_to 'Suporte',  "#" %></li>
    <li><%= link_to 'Reserva de Salas',  "#" %></li>
  </ul>
</li>
