<li>
  <div class="dropdown-arrow list-title">
    <%= link_to 'Institucional',  "#" %>
    <span class="fa fa-angle-down"></span>
  </div>
  <ul id="news" class="navigation-dropdown-list arrow_box">
    <li><%= link_to 'Contatos FS',"/unb-fs/menu-superior/contatos-fs" %></li>
    <li><%= link_to 'Equipe da FS',"/unb-fs/equipe-da-fs" %></li>
    <li><%= link_to 'Histórico',"/unb-fs/historico" %></li>
    <li><%= link_to 'Organograma',"/articles/0000/0643/organograma-1.pdf" %></li>
    <li><%= link_to 'Lab. e Núcleos', "/unb-fs/laboratorios-e-nucleos" %></li>
    <li><%= link_to 'Planejamento Estratégico', "/articles/0000/1305/pes_fs_unb.pdf" %></li>
  </ul>
</li>

<li>
  <div class="dropdown-arrow list-title">
    <%= link_to 'Extensão',  "#" %>
    <span class="fa fa-angle-down"></span>
  </div>
  <ul id="news" class="navigation-dropdown-list arrow_box">
    <li><%= link_to 'Conceito',"/extensao/conceito" %></li>
    <li><%= link_to 'Membros do Colegiado',"/extensao/membros-do-colegiado" %></li>
    <li><%= link_to 'Cronograma de Reuniões',"/extensao/cronograma-de-reunioes" %></li>
    <li><%= link_to 'Perguntas Frequentes',"/extensao/perguntas-frequentes" %></li>
  </ul>
</li>

<li>
  <div class="dropdown-arrow list-title">
    <%= link_to 'ComunicaFS',  "/unb-fs/comunica-fs" %>
  </div>
</li>

<li>
  <div class="dropdown-arrow list-title">
    <%= link_to 'Centeias',  "/unb-fs/centeias-centro-de-tecnologias-educacionais-interativas-em-saude" %>
  </div>
</li>

<li>
  <div class="dropdown-arrow list-title">
    <%= link_to 'Siesco', "/unb-fs/menu-superior/siesco" %>
  </div>
</li>

<li>
  <div class="dropdown-arrow list-title">
    <%= link_to 'FS Promotora de Saúde',  "/unb-fs/menu-superior/fs-promotora-de-saude" %>
  </div>
</li>
