<li>
  <div class="dropdown-arrow list-title">
    <%= link_to 'Institucional',  "#" %>
    <span class="fa fa-angle-down"></span>
  </div>
  <ul id="news" class="navigation-dropdown-list arrow_box">
    <li><%= link_to 'Histórico',"#" %></li>
    <li><%= link_to 'Organograma',"#" %></li>
    <li><%= link_to 'Mapa da FS',"#" %></li>
  </ul>
</li>

<li>
  <div class="dropdown-arrow list-title">
    <%= link_to 'Informações',  "#" %>
  </div>
</li>

<li>
  <div class="dropdown-arrow list-title">
    <%= link_to 'Extensão',  "#" %>
  </div>
</li>

<li>
  <div class="dropdown-arrow list-title">
    <%= link_to 'Editais',  "#" %>
  </div>
</li>

<li>
  <div class="dropdown-arrow list-title">
    <%= link_to 'Repositório',  "#" %>
    <span class="fa fa-angle-down"></span>
  </div>
  <ul id="news" class="navigation-dropdown-list arrow_box">
    <li><%= link_to 'Teses',"http://repositorio.unb.br/handle/10482/24/browse?type=type&order=ASC&rpp=20&value=Tese+%2F+Thesis" %></li>
    <li><%= link_to 'Dissertações',"http://repositorio.unb.br/handle/10482/24/browse?type=type&order=ASC&rpp=20&value=Disserta%C3%A7%C3%A3o+%2F+Dissertation" %></li>
  </ul>
</li>

<li>
  <div class="dropdown-arrow list-title">
    <%= link_to 'Aprenda Mais',  "#" %>
  </div>
</li>

<li>
  <div class="dropdown-arrow list-title">
    <%= link_to 'Comunica FS',  "#" %>
  </div>
</li>

<li>
  <div class="dropdown-arrow list-title">
    <%= link_to 'Centeias',  "#" %>
  </div>
</li>
