<script type="text/javascript">
jQuery("document").ready(function($){
    var nav = $('#top-functions');
    $(window).scroll(function () {
        if ($(this).scrollTop() > 32) {
            nav.addClass("fixed-top");
        } else {
            nav.removeClass("fixed-top");
        }
    });
});
</script>
<div id="barra-brasil">
</div>
<div id="top-functions-box">
  <div id="top-functions">
    <ul id="menu-top">
      <li><%= link_to 'Inicial',  "/" %></li>
      <li><%= link_to 'CFOR-TI UnB',  "/cfortiunb" %>
        <ul>
          <li><%= link_to 'CPD',  "/cfortiunb/cpd" %></li>
          <li><%= link_to 'Equipe acadêmica',"/cfortiunb/equipe-academica" %></li>
          <li><%= link_to 'Turmas presenciais',  "/cfortiunb/turmas-presenciais" %></li>
          <li><%= link_to 'Turmas sob demanda',  "/cfortiunb/turmas-sob-demanda" %></li>
          <li><%= link_to 'Turmas à distância',  "/cfortiunb/turmas-in-company" %></li>
        </ul>
      </li>
      <li><%= link_to 'Formações',  "/formacoes" %></li>
      <li><%= link_to 'Cursos',  "/cursos" %>
        <ul>
          <li><%= link_to 'Metodologia',  "/cursos/metodologia" %></li>
          <li><%= link_to 'Calendário',  "/cursos/calendario" %></li>
          <li><%= link_to 'Grade',  "/cursos/grade" %></li>
          <li><%= link_to 'Matricula',  "/cursos/matricula" %></li>
        </ul>
      </li>
      <li><%= link_to 'Sobre',  "/cfortiunb/sobre" %></li>
    </ul>
  </div>
</div>
